// Genesis Accessibility

// accessible menu
.menu .menu-item:focus {
	position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sf-hover > ul.sub-menu {
	left: auto;
	opacity: 1;
}

// screen reader text
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus  {
	background: #fff;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000;
}

.more-link {
	position: relative;
}

// skip links
.genesis-skip-link {
	margin: 0;
}

.genesis-skip-link li {
	height: 0;
	list-style: none;
	width: 0;
}

// display outline on focus
:focus {
	color: #333;
	outline: #ccc solid 1px;
}
