// ALIGNMENT

// Block styles wrapped in .site-container will override WordPress defaults.
.site-container {
  .alignfull,
  .alignwide {
    @include alignfull-block();

    img {
      width: 100% !important;
    }
  }

  .alignwide {
    margin-left: 0;
    margin-right: 0;

    @include media-breakpoint-up($layout-breakpoint) {
      margin-left: $layout-alignwide-margin-x / 2;
      margin-right: $layout-alignwide-margin-x / 2;
      max-width: $layout-content-max-width - ($layout-alignwide-margin-x);
    }

    @include media-breakpoint-up(lg) {
      margin-left: $layout-alignwide-margin-x;
      margin-right: $layout-alignwide-margin-x;
      max-width: $layout-content-max-width - ($layout-alignwide-margin-x * 2);
    }

    @include media-breakpoint-up(xl) {
      margin-left: $layout-alignwide-margin-x * 2;
      margin-right: $layout-alignwide-margin-x * 2;
      max-width: $layout-content-max-width - ($layout-alignwide-margin-x * 4);
    }
  }
}

.alignleft {
  margin-right: 1rem;
  float: left;
}

.alignright {
  margin-left: 1rem;
  float: right;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
