// BLOCKS

// Block styles wrapped in .site-container will override WordPress defaults.
.site-container {

  // WP Block Image
  .wp-block-image,
  .wp-block-embed {
    margin-bottom: 2rem;
  }

  // WP Block Columns
  // TODO: Styles matching `.footer-widget-area` could be converted to @mixins
  .wp-block-columns {
    flex-wrap: wrap;

    @include media-breakpoint-up($block-columns-breakpoint) {
      flex-wrap: nowrap;
    }

    .wp-block-column {
      flex-basis: 100%;
      margin-left: 0;
      margin-right: 0;

      @include media-breakpoint-up($block-columns-breakpoint) {
        margin-left: 1rem;  // default: 32px
        margin-right: 1rem;  // default: 32px
        margin-bottom: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      & > *:last-child {
        margin-bottom: 0;
      }

    }

  }

}
