.site-inner {
  margin-top: $site-inner-margin-top;
  padding: $site-inner-padding-y $site-inner-padding-x;
}

// override the .site-inner padding on specific pages
.home {
  .site-inner {
    padding: $site-inner-home-padding-y $site-inner-home-padding-x;
  }
}

.content {
  padding: 0 1rem;
}

.entry-header {
  margin-bottom: 1rem;
}
