// FOOTER

.site-footer {
  padding: 2rem 0;
  background-color: $footer-background-color;

  & > .wrap {
    padding: 0 1rem;

    @include site-container();
  }

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.footer-widgets {
  padding: 2rem 0;
  font-size: $footer-widgets-font-size;
  background-color: $footer-widgets-background-color;

  & > .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;

    @include site-container();

    @include media-breakpoint-up($block-columns-breakpoint) {
      flex-wrap: nowrap;
    }
  }

  // TODO: Styles matching `.wp-block-columns` could be converted to @mixins
  .footer-widget-area {
    flex-basis: 100%;

    @include media-breakpoint-up($block-columns-breakpoint) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .widget-title {
    font-size: $h5-font-size;
  }
}
