// HEADER

.site-header {
  width: 100%;
  background-color: $header-background-color;

  @include media-breakpoint-up($layout-breakpoint) {
    position: fixed;
    top: 0;
    z-index: 9999;

    .shrink & {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }
  }

  .admin-bar & {
    top: 32px;
  }

  & > .wrap {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include site-container();

    @include media-breakpoint-up($layout-breakpoint) {
      display: flex;
    }
  }
}

.title-area {
  display: inline-block;
  padding: $title-area-padding-y $title-area-padding-x;
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: center;

  @include media-breakpoint-up($layout-breakpoint) {
    width: auto;
    padding-top: $title-area-padding-y;
    padding-bottom: $title-area-padding-y;
    text-align: left;
  }

  .shrink & {
    padding-top: $title-area-shrink-padding-y;
    padding-bottom: $title-area-shrink-padding-y;
  }

  .has-split-menu & {
    text-align: center;
  }

  .has-left-menu & {
    text-align: right;
  }

  a {
    color: #333;
  }
}

.site-title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: $headline-font-weight;
  text-align: center;

  @include media-breakpoint-up($layout-breakpoint) {
    text-align: left;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
  text-align: center;

  @include media-breakpoint-up($layout-breakpoint) {
    text-align: left;
  }

  .shrink & {
    display: none;
  }
}

.wp-custom-logo {
  .site-description,
  .site-title {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
	  word-wrap: normal;
  }
}

.custom-logo {
  max-height: $custom-logo-mobile-height;
  width: auto;
  transition: all $transition-defaults;

  @include media-breakpoint-up($layout-breakpoint) {
    max-height: $custom-logo-max-height;
  }

  .shrink & {
    max-height: $custom-logo-shrink-height;
  }
}

.header-widget-area {
  padding-left: 1rem;
  padding-right: 1rem;
}
