.site-header {
  width: 100%;
  background-color: $header-background-color;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    position: fixed;
    top: 0;
    z-index: 9999;
  }

  .admin-bar & {
    top: 32px;
  }

  .shrink & {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  & > .wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @include site-container();

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }
}

.title-area {
  display: inline-block;
  padding: .5rem .5rem 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    width: auto;
    padding: 2rem 1rem 2.5rem;
  }

  .shrink & {
    padding-top: .1rem;
    padding-bottom: .25rem;
  }

  .has-split-menu & {
    text-align: center;
  }

  .has-left-menu & {
    text-aslign: right;
  }

  a {
    color: #333;
  }
}

.shrink {
  .site-description {
    display: none;
  }
}

.site-title {
  margin: 0;
  font-size: 2.25rem;
  font-weight: $headline-font-weight;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.site-description {
  margin: 0;
}
