.content-sidebar-wrap {
  display: block;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: $layout-max-width;

  .content {
    flex: 5;

    @include media-breakpoint-down(md) {
      flex: 4;
    }
  }

  .sidebar-primary {
    flex: 2;
  }

  .sidebar-secondary {
    flex: 2;
  }
}

.content-sidebar {
  .content-sidebar-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}

.sidebar-content {
  .content-sidebar-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  .content {
    order: 2;
  }

  .sidebar-primary {
    order: 1;
  }
}

.sidebar-content-sidebar {
  .content-sidebar-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }
  }

  .content {
    order: 2;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      order: 1;
    }
  }

  .sidebar-primary {
    order: 3;
  }

  .sidebar-secondary {
    order: 1;
  }
}

.content-sidebar-sidebar {
  .content-sidebar-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }
  }

  .content {
    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
    }
  }
}

.sidebar-sidebar-content {
  .content-sidebar-wrap {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }
  }

  .content {
    order: 3;

    @include media-breakpoint-down(md) {
      flex: 0 1 100%;
      order: 1;
    }
  }

  .sidebar-primary {
    order: 2;

    @include media-breakpoint-down(md) {
      order: 3;
    }
  }

  .sidebar-secondary {
    order: 1;

    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
}
