@mixin site-container() {
  margin: 0 auto;
  max-width: $layout-max-width;
}

@mixin active-menu-anchor() {
  @include active-anchor();
	text-decoration: none;
}

@mixin active-anchor() {
  color: $menu-link-color-active;
}
