.nav-primary {
  background-color: #e9ecef;

  .wrap {
    padding: .5rem 0;
  }
}

.nav-secondary {
  .wrap {
    padding: .5rem 0;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
  }
}

.menu-primary {
  margin: 0 -1rem;
}

.menu-secondary {
  margin-right: -1rem;
}