// @TODO: Reivew styles for removeables
// @TODO: Determine why placement of header menus stopped working
.menu {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style-type: none;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }

  a {
    padding: $menu-link-padding-y $menu-link-padding-x;
    display: block;
    color: $menu-link-color;
    outline-offset: -1px;
    font-size: $menu-font-size;
    text-decoration: none;
    letter-spacing: 0.5px;
    // @TODO: Bring back `text-align: center` when flexbox is working properly
    //text-align: center;

    @include media-breakpoint-up($menu-toggle-breakpoint) {
      padding-left: .5rem;
      padding-right: .5rem;
    }

    &:hover,
    &:focus {
      @include active-menu-anchor();
    }
  }

  .current-menu-item {
    > a {
      @include active-menu-anchor();
    }
  }

  .sub-menu {
    width: 100%;
    clear: both;
    display: none;
    left: -9999px;
    margin: 0;
    padding-left: 15px;
    position: static;
    z-index: 99;

    @include media-breakpoint-up($menu-toggle-breakpoint) {
      width: $menu-submenu-width;
      border-top: 1px solid #eee;
		  padding-left: 0;
		  position: absolute;
    }

    a {
      width: 100%;
      background-color: #fff;
      position: relative;
      font-size: $menu-submenu-font-size;
      word-wrap: break-word;

      @include media-breakpoint-up($menu-toggle-breakpoint) {
        // @TODO: Width is 100% and container is reduced at this breakpoint. Does the anchor width need to be manually reduced as well?
        width: $menu-submenu-width;
        border: 1px solid #eee;
		    border-top: 0;
		    padding-bottom: .875rem;
        padding-top: .875rem;
      }
    }

    .current-menu-item {
      > a {
        &:focus,
        &:hover {
          @include active-menu-anchor();
        }
      }
    }

    .sub-menu-toggle {
      padding: 12px 10px;
    }

    .sub-menu {
      @include media-breakpoint-up($menu-toggle-breakpoint) {
        margin: -44px 0 0 179px;
      }
    }
  }

  .menu-item {
    display: block;
    position: relative;

    @include media-breakpoint-up($menu-toggle-breakpoint) {
      display: inline-block;
    }

    &:focus,
    &:hover {
      position: relative;
    }

    &:hover {
      > .sub-menu {
        display: block;
        left: auto;

        .genesis-responsive-menu & {
          display: none;
        }
      }
    }
  }
}

.menu {
  .menu-item {
    &:focus {
      position: static;
    }

    &:focus + ul.sub-menu,
    &.sfHover > ul.sub-menu {
      left: auto;
    }
  }
}

.genesis-responsive-menu {
	display: none;
  position: relative;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    display: block;
  }
}

.menu-toggle,
.sub-menu-toggle {
	background-color: transparent;
	border-width: 0;
	color: $menu-link-color;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
  visibility: visible;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    display: none;
    visibility: hidden;
  }

  &:focus,
  &:hover {
    background-color: transparent;
	  border-width: 0;
    box-shadow: none;
    // @TODO: Mixin or Variable
	  color: $menu-link-hover-color;
  }
}

.menu-toggle {
	line-height: 20px;
	padding: 10px 0;
	position: relative;
  z-index: 1000;

  &::before {
    margin-right: 5px;
    top: 1px;
  }

  &.activated {
    &::before {
      content: "\f335";
    }
  }
}

.sub-menu-toggle {
	padding: 9px 10px;
	position: absolute;
	right: 0;
	top: 0;
  z-index: 100;

  &::before {
    display: inline-block;
    text-rendering: auto;
    transform: rotate(0);
    transition: transform $transition-defaults;
  }

  &.activated {
    &::before {
      transform: rotate(180deg);
    }
  }
}

.nav-primary,
.nav-secondary {
  transition: all $transition-defaults;

  @include media-breakpoint-up($menu-toggle-breakpoint) {
    padding: 0 .5rem;
  }

  a {
    font-size: $main-menu-font-size;
  }

  .wp-custom-logo & {
    @include media-breakpoint-up($menu-toggle-breakpoint) {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  // @TODO: Replace .has-one-menu with one of the new descriptive classes OR remove these styles in favor of the flexbox based solution.
  /*
  .has-one-menu &,
  .wp-custom-logo.has-one-menu & {
    @include media-breakpoint-up($menu-toggle-breakpoint) {
      width: 70%;
    }
  }
  */
}

.nav-secondary {
  @include media-breakpoint-up($menu-toggle-breakpoint) {
    text-align: right;
  }

  .menu-item {
    @include media-breakpoint-up($menu-toggle-breakpoint) {
      text-align: left;
    }
	}
}

.nav-main {
  margin-left: calc(-50vw + 100% / 2);
  margin-right: calc(-50vw + 100% / 2);
  background-color: $main-menu-background-color;
  flex: 0 0 100vw;

  .menu {
    @include site-container();

    @include media-breakpoint-up($menu-toggle-breakpoint) {
      padding: $menu-padding-y $menu-padding-x;
      display: flex;
      justify-content: $main-menu-justify-content;
    }
  }

  a {
    font-size: $main-menu-font-size;
    color: $main-menu-link-color;
  }
}

.nav-footer {
  margin-left: calc(-50vw + 100% / 2);
  margin-right: calc(-50vw + 100% / 2);
  margin-bottom: 1rem;
  flex: 0 0 100vw;

  .menu {
    @include site-container();

    @include media-breakpoint-up($menu-toggle-breakpoint) {
      padding: $menu-padding-y $menu-padding-x;
      justify-content: center;
    }
  }
}
