.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    padding: .5rem 1rem;
    color: #333;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
  }
}

.nav-primary {
  position: absolute;
  right: 0;
  bottom: 2rem;
  transition: all 0.2s ease-in-out;

  a {
    font-size: 1.1rem;
  }
}

.nav-secondary {
  margin-left: calc(-50vw + 100% / 2);
  margin-right: calc(-50vw + 100% / 2);
  background-color: rgba(0, 0, 0, .75);

  .menu {
    display: flex;
    justify-content: flex-end;

    @include site-container();
  }

  a {
    color: #efefef;
    font-size: .8rem;
    text-transform: uppercase;
  }
}

.shrink {
  .nav-primary {
    bottom: .75rem;
  }
}


/* Site Navigation
---------------------------------------------------------------------------- */
/*
.genesis-nav-menu {
	clear: both;
	line-height: 1;
	width: 100%;
}
*/

/*
.genesis-nav-menu .menu-item {
	display: block;
	float: none;
	position: relative;
}
*/

/*
.genesis-nav-menu a:focus,
.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover {
	color: #008080;
	text-decoration: none;
}
*/

/*
.genesis-nav-menu .sub-menu,
.genesis-nav-menu .sub-menu a {
	width: 100%;
}
*/

/*
.genesis-nav-menu .sub-menu {
	clear: both;
	display: none;
	left: -9999px;
	margin: 0;
	opacity: 1;
	padding-left: 15px;
	position: static;
	z-index: 99;
}
*/

/*
.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	position: relative;
	word-wrap: break-word;
}
*/

/*
.genesis-nav-menu .menu-item:focus,
.genesis-nav-menu .menu-item:hover {
	position: relative;
}
*/

/*
.genesis-nav-menu .menu-item:hover > .sub-menu {
	display: block;
	left: auto;
	opacity: 1;
}
*/
