.search-form {
	//overflow: hidden;
  position: relative;

  &::before {
    position: absolute;
    top: .25rem;
    left: .5rem;
    content: "\f179";
    font-size: 1.4rem;
    font-family: "dashicons";
    color: #ccc;
  }

  input {
    &[type="search"] {
      padding: .5rem .5rem .5rem 2rem;
      border: 1px solid #ccc;
      font-size: .9rem;
    }
  }
}

.entry-content {
  .search-form {
    margin-bottom: 1rem;
    width: 50%;
  }
}

.widget_search {
  input {
    &[type="submit"] {
      margin: -1px;
	    padding: 0;
      position: absolute;
      top: 0;
	    right: 0;
      width: 1px;
      height: 1px;
      clip: rect(0, 0, 0, 0);
    }
  }
}
