body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-family-sans-serif;
  font-weight: $body-font-weight;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $headline-font-weight;
}

h1 {
	font-size: 2.25rem;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.625rem;
}

h4 {
	font-size: 1.375rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1.125rem;
}
