// UTILITY BAR

.utility-bar {
  @include alignfull-flex();
  background-color: $utility-bar-background-color;

  & > .wrap {
    padding: 0 .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include site-container();

    @include media-breakpoint-up($layout-breakpoint) {
      display: flex;
    }
  }

  .menu {
    a {
      color: $utility-bar-link-color;
      font-size: $utility-bar-font-size;
    }
  }

  .widget {
    margin: 0;

    ul {
      padding-left: 0;
    }
  }

  .simple-social-icons {
    ul {
      li {
        margin-bottom: 0 !important;

        a {
          padding: 4px !important;
        }
      }
    }
  }
}
