// Typography
$font-size-base:                  1rem !default;
$h1-font-size:                    $font-size-base * 2.25 !default;
$h2-font-size:                    $font-size-base * 1.875 !default;
$h3-font-size:                    $font-size-base * 1.625 !default;
$h4-font-size:                    $font-size-base * 1.375 !default;
$h5-font-size:                    $font-size-base * 1.25 !default;
$h6-font-size:                    $font-size-base * 1.125 !default;

$body-font-weight:                lighter !default;
$headline-font-weight:            normal !default;

// Links
$link-color:                      #00b9eb !default;
$link-hover-color:                darken($link-color, 15%) !default;

// Header
$header-full-height:              100px !default;
$header-reduced-height:           75px !default;
$header-background-color:         #fff !default;

// Custom Logo
$custom-logo-max-height:          125px !default;
$custom-logo-mobile-height:       75px !default;
$custom-logo-shrink-height:       60px !default;

// Content
$site-inner-margin-top:           $header-full-height + 35px !default;

// Footer Widgets
$footer-widgets-background-color: #f9f9f9 !default;

// Footer
$footer-background-color:         #f3f3f3 !default;

// Menu (variables for all menus)
$menu-toggle-breakpoint:          md !default;
$menu-horizontal-padding:         .5rem !default;
$menu-submenu-width:              180px !default;
$menu-link-color:                 #333 !default;
$menu-link-hover-color:           $link-color !default;
$menu-font-size:                  $font-size-base !default;
$menu-submenu-font-size:          .9rem !default;

// Utility Menu
$utility-menu-background-color:   #23282d !default;
$utility-menu-link-color:         #fff !default;
$utility-menu-font-size:          .9rem !default;
$utility-menu-submenu-font-size:  $utility-menu-font-size !default;

// Main Menu
$main-menu-justify-content:       space-between !default;
$main-menu-background-color:      #efefef !default;
$main-menu-link-color:            $menu-link-color !default;
$main-menu-font-size:             $font-size-base !default;
$main-menu-submenu-font-size:     .9rem !default;

// Footer Menu
$footer-menu-font-size:           $font-size-base !default;

// Layout
$layout-max-width:                1200px !default;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
) !default;

// Transition
$transition-duration:             0.2s !default;
$transition-timing:               ease-in-out !default;
$transition-defaults:             $transition-duration $transition-timing !default;

// Blocks (variables for all blocks)
$block-breakpoint:                md !default;

// Column Block
$block-columns-breakpoint:        $block-breakpoint !default;
